@{
    ViewData["Title"] = "Contact";
}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <hr class="my-4">
                    <h3 class="card-title mb-4">Sabri Gülseven</h3>
                    <p class="mb-1"><i class="fas fa-map-marker-alt mr-2"></i> Bursa/Türkiye</p>
                    <p class="mb-1"><i class="fas fa-envelope mr-2"></i> sabrigulseven@outlook.com</p>
                    <p class="mb-1"><i class="fas fa-phone mr-2"></i>+90 (534) 504-4607</p>
                    <hr class="my-4">
                    <div class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/sabri-g%C3%BClseven-208bb123b/" target="_blank"
                            class="btn btn-outline-dark mx-2"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/sabrigulseven" target="_blank" class="btn btn-outline-dark mx-2"><i
                                class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
